@use 'variaveis';
.cast {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {

       display:grid;
       grid-template-columns: 1fr 1fr 1fr;
        margin-top: 50px;

        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr;
        }

        
        &__item {
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            img {
                height: 183px;
                width: 280px;
            }
        }

    }

}