@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    text-align: center;
    background-size: cover;
    margin-bottom: 28px;

    @media (max-width: 768px) {
        
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -55px;
    }

    &__content {
        max-width: 640px;

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;
            img{
                @media (max-width: 768px) {
                    max-width: 320px;
                    height: 200px;
                }

            }
           
        }
        .title--big {
            padding-top:50px;
            padding-bottom:50px;
        }
        .text--big {
            padding-top:50px;
        }

       
    }
}